<form class="container" 
  #userForm = "ngForm"
    (ngSubmit) = "onSubmit(userForm.value)">
  <input type="hidden" name="id" [(ngModel)] = "employee['id']">
  <div class= "col-md-6"> 
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Nama" [(ngModel)] = "employee.name"> 
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="address" placeholder="Alamat" [(ngModel)] = "employee.address">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="phone" placeholder="No HP" [(ngModel)] = "employee.phone">
    </div>
    <div class="form-group">
      <select class="form-control" name="division" [(ngModel)] = "employee.divison">
        <option value=""> Pilih Divisi </option>
        <option value="IT"> IT </option>
        <option value="Marketing"> Marketing </option>
        <option value="Finance"> Finance </option>
        <option value="Human Resource"> Human Resource</option>
      </select>
    </div>
  </div>
  <div class= "col-md-6"> 
    <div class="form-group">
      <textarea class="form-control" placeholder="Biografi singkatmu..." name="biography" rows="8" [(ngModel)] = "employee.biography"></textarea>
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-info" type="submit" value="submit">
  </div>
</form> 