<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID.</th>
      <th>Nama</th>
      <th width="30%">Alamat</th>
      <th>Nomor HP</th>
      <th>Divisi</th>
      <th width="30%">Biografi</th>
      <th>Action</th>  
    </tr>
    <tr *ngFor="let o of list">
      <td>{{o.id}}</td>
      <td>{{o.name}}</td>
      <td>{{o.address}}</td>
      <td>{{o.phone}}</td>
      <td>{{o.division}}</td>
      <td>{{o.biography}}</td>
      <td>
        <button class="btn btn-success" (click)="edit(o.id)" title="Edit Pegawai"><span><i class="fa fa-pencil"></i></span></button>
        <button class="btn btn-danger" (click)="remove(o.id)" title="Hapus Pegawai"><span><i class="fa fa-trash"></i></span></button>
      </td>
    </tr>
  </table>
</div>
