<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

  <h1>
    {{title}}
  </h1>
  <br>
  <app-form-input [parent]="list" [parent_]="employee" (goToParent)="addEmployee($event)"></app-form-input>
  <app-employee-list [parent]="list" (goToParent1)="remove($event)" (goToParent2)="edit($event)"></app-employee-list>
 </div>


